* {
	box-sizing: border-box;
}
html, body, #map {
	height: 100%;
	margin: 0;
}
#map {
	width: 100%;
}
button {
	padding: 0.5em 3em;
	background: skyblue;
	color: white;
	border: none;
	font-size: 1.2em;
}

#welcome {
	position: fixed;
	width: 100%;
	top: 200px;
	background: white;
	padding: 3em;
}
#welcome h1 {
	margin-top: 0;
}
.looking #welcome, .results #welcome {
	display: none;
}

#header {
	display: none;
	width: 100%;
	position: fixed;
	top: 0;
}
#header p {
	margin: 0;
	padding: 0.5em;
	font-size: 1.2em;
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}
#header span {
	font-weight: bold;
}
.looking #header {
	display: block;
}

#dialog {
	display: none;
	background: white;
	width: 100%;
	bottom: 0;
	position: fixed;
	padding: 2em;
}
#dialog h1 {
	margin: 0;
}
.results #dialog {
	display: block;
}