html, body, #map {
	height: 100%;
	margin: 0;
}
#map {
	width: 100%;
}
#header {
	z-index: 9999999;
	width: 100%;
	position: fixed;
	top: 0;
}
#header p {
	margin: 0;
	padding: 0.5em;
	font-size: 1.2em;
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}
#header span {
	font-weight: bold;
}
.results #header {
	display: none;
}
#dialog {
	display: none;
	background: white;
	width: 100%;
	bottom: 0;
	position: fixed;
	padding: 2em;
}
#dialog h1 {
	margin: 0;
}
#dialog button {
	padding: 0.5em 3em;
	background: skyblue;
	color: white;
	border: none;
	font-size: 1.2em;
}
.results #dialog {
	display: block;
}