* {
	box-sizing: border-box;
}
html, body, #map {
	height: 100%;
	margin: 0;
}
#map {
	width: 100%;
}

body .welcome,
body .level,
body .search,
body .city-results,
body .level-results,
body .congrats {
	display: none;
}
body.welcome .welcome,
body.level .level,
body.search .search,
body.city-results .city-results,
body.level-results .level-results,
body.congrats .congrats {
	display: block;
}

button {
	padding: 0.5em 3em;
	background: skyblue;
	color: white;
	border: none;
	font-size: 1.2em;
}
h1 {
	margin: 0;
}

.panel {
	position: fixed;
	width: 100%;
	background: white;
	padding: 2em;
}

/**** Welcome Section ****/
div.welcome {
	top: 20%;
}

/**** Level Section ****/
div.level {
	top: 10%;
}
div.level li {
	margin: 1em 0;
}

/**** Search Section ****/
div.search {
	width: 100%;
	position: fixed;
	top: 0;
}
.iOS div.search {
	top: 20px;
}
div.search {
	margin: 0;
	padding: 0.5em;
	font-size: 1.2em;
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}
div.search p {
	margin: 0;
}
.search-city {
	font-weight: bold;
}
div.search ul {
	margin: 0.25em 0 0.125em 0;
}
div.search a {
	color: white;
}

/**** City Results Section ****/
div.city-results {
	bottom: 0;
}
.city-results-grade {
	font-weight: bold;
}

/**** Level Results Section ****/
div.level-results {
	top: 10%;

	li {
		margin: 0.5em 0;
	}
}
.pass {
	font-weight: bold;
	color: green;
}
.fail {
	font-weight: bold;
	color: red;
}

/**** Congrats Section ****/
div.congrats {
	top: 20%;
}
