* {
	box-sizing: border-box;
}
html, body, #map {
	height: 100%;
	margin: 0;
}
#map {
	width: 100%;
}

body .welcome,
body .search,
body .results,
body .difficulty {
	display: none;
}
body.welcome .welcome,
body.search .search,
body.results .results,
body.difficulty .difficulty {
	display: block;
}

button {
	padding: 0.5em 3em;
	background: skyblue;
	color: white;
	border: none;
	font-size: 1.2em;
}
h1 {
	margin: 0;
}

.panel {
	position: fixed;
	width: 100%;
	background: white;
	padding: 2em;
}

/**** Welcome Section ****/
div.welcome {
	top: 20%;
}

/**** Search Section ****/
div.search {
	width: 100%;
	position: fixed;
	top: 0;
}
.iOS div.search {
	top: 20px;
}
div.search {
	margin: 0;
	padding: 0.5em;
	font-size: 1.2em;
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}
div.search p {
	margin: 0;
}
div.search span {
	font-weight: bold;
}
div.search ul {
	margin: 0.25em 0 0 0;
	font-size: 0.8em;
}
div.search a {
	color: white;
}

/**** Results Section ****/
div.results {
	bottom: 0;
}
#results-grade {
	font-weight: bold;
}

/**** Difficulty Section ****/
div.difficulty {
	top: 10%;
	padding: 1em;
}
.radio-list {
	padding: 0;
	list-style-type: none;
}
.radio-list li {
	padding: 1em;
	margin: 0.2em;
	border: 2px dotted gray;
	border-radius: 5px;
}
.radio-list .active {
	font-weight: bold;
	border-color: black;
	border-style: solid;
}