* {
	box-sizing: border-box;
}
html, body, #map {
	height: 100%;
	margin: 0;
}
#map {
	width: 100%;
}

body .welcome,
body .search,
body .results {
	display: none;
}
body.welcome .welcome,
body.search .search,
body.results .results {
	display: block;
}

button {
	padding: 0.5em 3em;
	background: skyblue;
	color: white;
	border: none;
	font-size: 1.2em;
}

#welcome {
	position: fixed;
	width: 100%;
	top: 20%;
	background: white;
	padding: 2em;
}
#welcome h1 {
	margin-top: 0;
}

#header {
	width: 100%;
	position: fixed;
	top: 0;
}
.iOS #header {
	top: 20px;
}
#header p {
	margin: 0;
	padding: 0.5em;
	font-size: 1.2em;
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}
#header span {
	font-weight: bold;
}

#dialog {
	background: white;
	width: 100%;
	bottom: 0;
	position: fixed;
	padding: 2em;
}
#dialog h1 {
	margin: 0;
}
#dialog-grade {
	font-weight: bold;
}