<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.telerik.plugin.telerikanalytics"
    version="3.3.0">

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Telerik Analytics</name>
  <author>Telerik</author>
  <description>The official plugin for Telerik Analytics</description>
  <url>http://docs.telerik.com/platform/analytics/</url>
  <keywords>telerik,analytics</keywords>
  <license>Apache 2.0 License</license>
  
  <access origin="*.monitor-eqatec.com"/>

  <js-module src="www/EqatecAnalytics.js" name="EqatecAnalytics">
    <clobbers target="plugins.EqatecAnalytics" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
  	<source-file target-dir="src/com/telerik/plugin/eqatecanalytics" src="src/android/com/telerik/plugin/eqatecanalytics/EqatecAnalyticsPlugin.java"/>
    <source-file target-dir="src/com/telerik/plugin/eqatecanalytics" src="src/android/com/telerik/plugin/eqatecanalytics/Logger.java"/>
  	<source-file target-dir="libs" src="lib/android/analyticsmonitor.jar"/>
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="EqatecAnalytics">
        <param name="android-package" value="com.telerik.plugin.eqatecanalytics.EqatecAnalyticsPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
  	  <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>
  </platform>    
  
  <!-- ios -->
  <platform name="ios">
    <header-file src="src/ios/EqatecAnalyticsPlugin.h" />
    <source-file src="src/ios/EqatecAnalyticsPlugin.mm" />
    <header-file src="lib/ios/EQATECAnalyticsMonitor.h" />
    <source-file src="lib/ios/libEQATECAnalyticsMonitoriOS.a" framework="true" />
    <framework src="libc++.dylib"/>
    <config-file target="config.xml" parent="/*">
      <feature name="EqatecAnalytics">
        <param name="ios-package" value="EqatecAnalyticsPlugin" />
      </feature>
    </config-file>
  </platform>
  
  <!-- wp8 -->
  <platform name="wp8">
    <source-file src="src/wp/EqatecAnalytics.cs" />
    <framework src="lib/wp/EQATEC.Analytics.MonitorWP.dll" custom="true"/>
    <config-file target="config.xml" parent="/*">
      <feature name="EqatecAnalytics">
        <param name="wp-package" value="EqatecAnalytics" />
      </feature>
    </config-file>
    <config-file target="WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_NETWORKING" />
      <Capability Name="ID_CAP_IDENTITY_DEVICE" />
    </config-file>
  </platform>
  
</plugin>